section {
  display: flex;
  justify-content: center;
}

.colorwrapper {
  margin: 2vw;
}

#selector {
  width: 56px;
}

#input {
  margin-top: 10vh;
  margin-left: 5vw;
}

.viewer {
  width: 200px;
  height: 200px;
  /* background-color: #8a0f84; */
  border-radius: 10%;
}

.valuesWrapper {
  display: flex;
}
.col {
  margin-right: 2vw;
}

.box1 .viewer {
  background-color: #a217d9;
}

.box2 .viewer {
  background-color: #c217d9;
}
.box3 .viewer {
  background-color: #d917cf;
}
.box4 .viewer {
  background-color: #d917af;
}
.box5 .viewer {
  background-color: #d9178f;
}
